#root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.App {
  width: 100%;
  overflow: visible;
}

html, body {
    height: auto !important;
    overflow: auto !important;
    overflow-x: hidden !important;
}
